html, body {
    min-height: 100%;
    margin: 0;
    padding: 0;
}

.osc-text-light
{
    color: rgba(238, 238, 255, 1);
}
.osc-text-dark
{
    color: rgba(7, 7, 7, 1);
}
.osc-text-indigo
{
    color: rgba(141, 0, 255, 1);
}
.osc-text-primary
{
    color: rgba(38, 196, 133, 1);
}
.osc-text-secondary
{
    color: rgba(87, 100, 144, 1);
}

/*  responsive map for embedding */

.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

@-webkit-keyframes shadow-pulse
{
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 1);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 1);
    }
    100% {
        -webkit-box-shadow: 0 0 0 35px rgba(0, 0, 0, 0);
        box-shadow: 0 0 0 35px rgba(0, 0, 0, 0);
    }
}


@keyframes shadow-pulse
{
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 1);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 1);
    }
    100% {
        -webkit-box-shadow: 0 0 0 35px rgba(0, 0, 0, 0);
        box-shadow: 0 0 0 35px rgba(0, 0, 0, 0);
    }
}

@-webkit-keyframes shadow-pulse-big
{
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 1);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 1);
    }
    100% {
        -webkit-box-shadow: 0 0 0 70px rgba(0, 0, 0, 0);
        box-shadow: 0 0 0 70px rgba(0, 0, 0, 0);
    }
}

@keyframes shadow-pulse-big
{
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 1);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 1);
    }
    100% {
        -webkit-box-shadow: 0 0 0 70px rgba(0, 0, 0, 0);
        box-shadow: 0 0 0 70px rgba(0, 0, 0, 0);
    }
}

.pulser
{
    letter-spacing: 1px;
    color: #fff;
    text-align: center;
    background: rgba(30, 144, 255, 0.6);
    border-radius: 50%;
    -webkit-animation: shadow-pulse 1s infinite;
    animation: shadow-pulse 1s infinite;
}
.pulser:hover
{
    cursor: pointer;
}
.pulser-box
{
    letter-spacing: 1px;
    color: #fff;
    text-align: center;
    border-radius: 3px;
    animation: shadow-pulse 1s infinite;
}
.pulser-box:hover
{
    cursor: pointer;
}